@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/charlestoning");
/* font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal; */
/* font-family: 'Charlestoning', sans-serif; */

:root {
  --first-color: #be58cf;
  --second-color: #650076;
  --third-color: #f31cb6;
  --fourth-color: #121f39;
  --fifth-color: #73a3b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 320px) {
  .navbar {
    width: 100%;
    height: 4.5rem;
    padding: 0.5rem;
    position: relative;
    background-color: var(--first-color);
    color: var(--second-color);
  }

  .navbar img {
    width: 3rem;
  }

  .checkbtn,
  .icons {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .icons {
    pointer-events: none;
    font-size: 1.5rem;
    color: var(--second-color);
  }

  .checkbtn {
    opacity: 0;
  }

  .fi-br-cross {
    display: none;
  }

  .checkbtn:checked ~ .fi-br-menu-burger {
    display: none;
  }

  .checkbtn:checked ~ .fi-br-cross {
    display: block;
  }

  .checkbtn:checked ~ .navbar-items {
    z-index: 1;
  }

  .navbar-items {
    width: 10rem;
    position: absolute;
    top: -11.1rem;
    z-index: -1;
    right: 0px;
    display: flex;
    flex-direction: column;
  }

  .navbar-items li a {
    width: 10rem;
    font-size: 1rem;
    color: var(--fourth-color);
    background-color: var(--third-color);
    display: block;
    padding: 10px 12px;
  }

  .navbar-items li a:hover {
    background-color: var(--fifth-color);
  }

  .checkbtn:checked ~ .navbar-items {
    top: 4.5rem;
  }

  .aboutme {
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      #640076,
      #461b6e,
      #2b2260,
      #18224efb,
      #121f39
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .aboutme img {
    width: 50%;
    object-fit: cover;
    padding-bottom: 1rem;
  }

  .aboutme-title {
    color: var(--fifth-color);
    padding-right: 2rem;
    font-family: "Charlestoning", sans-serif;
    font-size: 1rem;
    text-align: right;
  }

  .aboutme-description {
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    text-align: center;
  }

  .projects {
    width: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    text-align: center;
  }

  .projects h2 {
    text-align: center;
  }

  .projects-container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .projects-card {
    width: 16rem;
    padding: 1rem;
    color: var(--fifth-color);
    background-color: var(--fourth-color);
    border-radius: 5px;
  }

  .projects-card h3{
    width: 80%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .projects-card img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .projects-card-description{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }

  .projects-card button {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--fifth-color);
    color: var(--fourth-color);
    border-style: none;
    font-weight: bold;
  }

  .skills {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    background: rgb(101, 54, 145);
    background: url(./img/gato_con_lentes-removebg-preview.png), linear-gradient(270deg, rgba(101,54,145) 0%, rgb(226, 61, 179) 100%);;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
  }

  .skills h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .skills-grilla {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }

  .skill-logos {
    width: 14rem;
    display: flex;
    justify-content: center;
  }

  .skill-logos img {
    width: 12rem;
    object-fit: cover;
    border-radius: 5px;
    -webkit-box-shadow: 8px 10px 14px 5px rgba(18, 31, 57, 0.45);-moz-box-shadow: 8px 10px 14px 5px rgba(18, 31, 57, 0.45);box-shadow: 8px 10px 14px 5px rgba(18, 31, 57, 0.45);
  }

  .contact{
   width: 100%;
   display: flex;
   padding: 2rem; 
   color: var(--fifth-color);
   background-color: var(--fourth-color);
   flex-direction: column;
   align-items: center;
  }

  .contact h2{
    text-align: center;
    padding-bottom: 2rem;
  }

  .contact-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form label, input, textarea{
    width: 100%;
  }

  .contact-form input{
    height: 20px;
    border-radius: 5px;
    border-style: none;
  }

  .contact-form textarea{
    height: 8rem;
    border-radius: 5px;
    border-style: none;
  }

  .contact-form button{
    margin: 1rem;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--third-color);
    color: var(--fourth-color);
    font-weight: bold;
  }

  .final{
    width: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .aboutme-title {
    font-size: 2rem;
  }

  .aboutme-description{
    padding: 2rem;
  }

  .aboutme-description h2{
    font-size: 2rem;
  }

  .projects-card{
    width: 90%;
    display: flex;
    align-items: center;
  } 
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 4.5rem;
    padding: 1rem;
    background-color: var(--first-color);
    background-position: center;
    display: flex;    
  }

  .checkbtn, .icons{
    display: none;
  }

  .navbar-items{
    width: 60%;
    top: 0;
    z-index: 1;
    color: var(--fourth-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-items li a{ 
    width: 9rem; 
    height: 4.5rem;  
    padding: 0;
    margin-top: 1rem;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;  
  }

  .navbar-items li a:hover {
    background-color: transparent;
  }

  .aboutme-description{
    padding: 3rem;
    font-size: 1.5rem;
  }

  .projects-card{
    font-size: 1.2rem;
  }

  .contact-form{
    font-size: 1.2rem;
  }

  .contact-form input{
    height: 1.3rem;
  }

  .checkbtn, .icons{
    display: none;
  }

  .contact-form{
    width: 60%;
  }
 

}
